.headerSolicitacao{
    //background-color: red;
    width: 20vw;
    height: 6vh;
   //border: solid;
}

.layoutSolicitacao{
    display: flex;
}

.containerPrincipalSolicitacao{
    //background-color: aqua;
    width: 95%;
    
}

.formSolicitacao{
    display: flex;
    justify-content: space-between;
    width: 100%;
    //height: 25vh;
    //background-color: aqua;
    //border: solid greenyellow;
}

.mainSolicitacao{
    display: flex;
    flex-wrap: wrap;
}

input, select{
    width: 100%;
    height: 4vh;
    border-radius: 6px;
    border: solid rgb(172, 172, 172); //3CBD4E1

}

label{
    color: rgb(56, 56, 56); //pegar cor exata
    font-weight: 700;
    font-size: 1rem;
}

.grupo1{
    border: solid;
    width: 35%;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputNome{
   // border: solid red;
    width: 45%;
}
.inputEmpresa{
    width: 25%;
    //border: solid pink;
}
.inputPrestContas{
    width: 25%;
    //border: solid tomato;
}
.inputMotivo{
    width: 100%;
    //border: solid;
    input{
        height: 10vh;
    }
}

.barraVert{
    height: 25vh;
    background-color: #CBD4E1;
    width: 0.1vw;
}

.grupo2{
    border: solid brown;
    width: 60%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.inputData{
    border: solid green;
    width: 20%;
}

.tipoDespesa{
    border: solid blue;
    width: 30%;
}

.centroDeCusto{
    border: solid purple;
    width: 45%;
}

.ordem, .divisoes, .pep, .distancia{
    border: solid;
    width: 8%;
}

.moeda, .valorFaturado, .valorKm, .despesa{
    border: solid palevioletred;
    width: 11%;
}

.botoes{
    width: 14%;
    display: flex;
    justify-content: space-evenly;

    .botaoSalvar{
        background-color: rgb(17, 2, 102);
        color: white;
        width: 5vw;
    }
    .botaoDeletar{
        width: 2vw;
        background-color: aqua;
    }
}

table{
    width: 100%;
    border: solid;
    border-collapse: collapse;
}

th{
    font-size: 1rem;
    font-weight: 400;
    color: #23282F;
    background-color: #CBD4E1;
}

th, td{
    border: solid;
    text-align: center;
}