.body{
    display: flex;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid red;
    width: 8vw;
    p{
        font-size: 1rem;
    }
}

.mainRb{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    align-items: center;
    //padding-left: 20rem;
    //border: solid blue;
}

.containerCards{
    border: solid brown;
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}

.card{
    width: 15vw;
    height: 20vh;
    border: solid rgb(131, 130, 130);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerStatus{
    width: 70%;
    height: 15vh;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    div{
        border: solid pink;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        height: 10vh;
    }
}

.img1{
    background-color: rgb(15, 162, 230);
    border-radius: 6px;
    width: 20%;
    height: 5vh;
    padding: 6px;
}
.img2{
    background-color: orange;
    border-radius: 6px;
}
.img3{
    background-color: green;
    border-radius: 6px;
}
.img4{
    background-color: red;
    border-radius: 6px;
}

.containerSistema{
    display: flex;
    width: 9vw;
    border: solid;
    justify-content: space-between;
    align-items: start;

}

.centralizar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid green;
    //padding-left: 30rem;
}